---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    background: red;
    display: flex;
    gap: var(--card-gap);
    overflow: auto;
    white-space: nowrap;
    padding-inline:
      max(1rem),
      50% - var(--content-width) / 2;
    scroll-snap-type: x mandatory;

    li {
      flex: 0 0 auto;
      background: var(--card-background);
      color: var(--card-text-color);
      padding: var(--card-padding);
      border-radius: var(--card-border-radius);
      scroll-snap-align: start;
    }
  }
</style>
